@import-normalize; /* bring in normalize.css styles */

:root {
  --white: #fbfbfb;
  --icon-violet: #734aef;

  --button-gradient: linear-gradient(
    167deg,
    #ffc727 0%,
    #9e40ba 61.46%,
    #7000ff 90.54%
  );

  --transparency-10: rgba(255, 255, 255, 0.1);
  --transparency-20: rgba(255, 255, 255, 0.2);
  --transparency-40: rgba(255, 255, 255, 0.4);
  --transparency-60: rgba(255, 255, 255, 0.6);

  --yellow: #ffb627;
  --dashboard-text: #ff868d;
  --button-text-color: #623f8b;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins-Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #101010;

  @media only screen and (min-width: 768px) {
    height: 100vh;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font-family: 'Poppins-Regular', sans-serif;
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('./utilities/fonts/Poppins-Bold.ttf');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('./utilities/fonts/Poppins-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('./utilities/fonts/Poppins-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}
