@import-normalize; /* bring in normalize.css styles */

:root {
  --white: #fbfbfb;
  --icon-violet: #734aef;

  --button-gradient: linear-gradient(
    167deg,
    #ffc727 0%,
    #9e40ba 61.46%,
    #7000ff 90.54%
  );

  --transparency-10: rgba(255, 255, 255, 0.1);
  --transparency-20: rgba(255, 255, 255, 0.2);
  --transparency-40: rgba(255, 255, 255, 0.4);
  --transparency-60: rgba(255, 255, 255, 0.6);

  --yellow: #ffb627;
  --dashboard-text: #ff868d;
  --button-text-color: #623f8b;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url('./utilities/fonts/Poppins-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  src: url('./utilities/fonts/Poppins-SemiBold.ttf') format('ttf');
}

@font-face {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url('./utilities/fonts/Poppins-Bold.ttf') format('ttf');
}
